name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *" # every 1st of the month
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Update parser
        run: ./scripts/update-parser.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          base: ${{ github.head_ref }}
          body: Update dependencies and regenerate CSS parser
          branch: update-css-parser
          commit-message: Update dependencies and regenerate CSS parser
          title: Update CSS parser
          token: ${{ secrets.GH_TOKEN }}
